#battery{
    position: absolute;
    align-self: center;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 7%;
}

#battery_progress{
    position: absolute;
    width: 100%;
    height: 15%;
    clip-path: polygon(0% 50%, 2% 0%, 98% 0%, 100% 50%, 98% 100%, 2% 100%);
    bottom: 10%;
}

#battery_numeric{
    font-size: 80%;
    position: absolute;
    bottom: 2%;
    left: 50%;
    color: white;
    font-family: text;
    transform: translate(-50%);
    text-shadow: 0 0 2px #000;
}

#battery_loading_icon{
    position: absolute;
    top: 0;
    left: 5%;
    height:60%;
    object-fit: contain;

}