#battery{
    position: absolute;
    align-self: center;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 1.1%;
}

#battery_progress{
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 50%, 2% 0%, 98% 0%, 100% 50%, 98% 100%, 2% 100%);
}

#battery_numeric{
    font-size: 80%;
    position: absolute;
    top: 51%;
    left: 50%;
    color: white;
    font-family: text;
    transform: translate(-50%, -50%);
}